{% extends 'base.html' %}

{% load static %}

{% block title %}
    About my Coffee
{% endblock %}

{% block content %}
    <div class="my-form container p-5 my-5 rounded border border-warning">
        <form>
            <h2 class="text-center">Products</h2>
            <hr>
            <section>
                <div class="container-fluid">
                <div class="row p-5" >
        
                {% for prod in products %}
                    <div>
                        <div class="card m-2" style="width: 18rem;">
                            <img src="{{ prod.photo.url }}" class="card-img-top" alt="{{ prod.name }}">
                            <div class="card-body">
                            <h5 class="card-title">{{ prod.name }}</h5>
                            <p class="card-text text-truncate">{{ prod.description }}</p>
                            <a href="{% url 'products:product' prod.id %}" class="btn btn-warning">Show Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
           
                  
                </div>
                </div>
            </section>
        

        </form>

    </div>
{% endblock %}